@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="p-3">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account.
        <a href="https://mail.google.com">Gmail</a>
    </p>
</div>