@model WriteMe.Controllers.Blabla
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid m-0 p-0 vh-100">
    <div class="row no-gutters h-100">
        <section class="col-3 user-section h-100">
            <header class="users-section-header">
                <div>
                    <i class="fas fa-cog"></i>
                </div>
                <div class="text-dark user-section-logo">Messenger</div>
                <div>
                    <i class="fas fa-envelope-open"></i>
                </div>
            </header>
            <div class="search-form p-3">
                <input class="search-input" placeholder="Search for people..." type="search">
            </div>

            <div class="users-content">
                <a href="#" class="text-decoration-none">
                    <div class="user-element">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="user-image-holder">
                                    <img alt="" src="https://via.placeholder.com/320x320">
                                </div>
                            </div>
                            <div class="col-9 user-element-content">
                                <div class="user-name">Dima Senko</div>
                                <div class="user-message">Dima: Privet, Zaebal</div>
                                <div class="user-message-counter">2</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </section>
        @await Html.PartialAsync("_ChatRoom", @Model)
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        console.log("hi");
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        hubConnection.serverTimeoutMilliseconds = 1000 * 60 * 10;

        hubConnection.on('Receive',
            function(message, userName) {

                let lastElemInChat = $(".messages").last();
                if (userName == $("#friend").val()) {
                    var companionMessage = $("<div class='companion-message'></div>");
                    $(companionMessage).text(message);
                    companionMessage = $("<div></div>").append(companionMessage);


                    if (!lastElemInChat.hasClass("my-message")) {
                        $(lastElemInChat).append(companionMessage);
                    } else {
                        var companionBlock = $("<div class='messages'></div>");
                        $(companionBlock).append(companionMessage);
                        $("#chat").append(companionBlock);
                    }
                } else if (userName == $("#current").val()) {
                    var userMessage = $("<div class='my-message-text'></div>");
                    $(userMessage).text(message);
                    userMessage = $("<div></div>").append(userMessage);


                    if (lastElemInChat.hasClass("my-message")) {
                        $(lastElemInChat).append(userMessage);
                    } else {
                        var userBlock = $("<div class='messages my-message'></div>");
                        $(userBlock).append(userMessage);
                        $("#chat").append(userBlock);
                    }
                }
            });

        // отправка сообщения на сервер
        $("#message").keyup(function(e) {
            if (e.key === 'Enter') {
                let message = document.getElementById("message").value;
                hubConnection.invoke("Send", message, $("#current").val(), $("#friend").val());
                $(this).val("");
            }
        });

        hubConnection.start();
    </script>

}