@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity
@using WriteMe.Data.Entities
@model WriteMe.Controllers.Blabla
@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" id="current" value="@User.Identity.Name" />
<div class="container-fluid m-0 p-0 vh-100">
    <div class="row no-gutters h-100">
        <section class="col-3 user-section h-100">
            <header class="users-section-header">
                <div>
                    <i class="fas fa-cog"></i>
                </div>
                <div class="text-dark user-section-logo">Messenger</div>
                <div>
                    <i class="fas fa-envelope-open"></i>
                </div>
            </header>
            <div class="search-form p-3">
                <input class="search-input" placeholder="Search for people..." type="search">
            </div>
            <div class="users-content">
                @foreach (var user in Model.Users)
                {
                    <div class="user-element" onclick="showMessages(@user.Id)">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="user-image-holder">
                                    <img alt="" src="https://via.placeholder.com/320x320">
                                </div>
                            </div>
                            <div class="col-9 user-element-content">
                                <div class="user-name">@user.Email</div>
                                <div class="user-message">FIX ME PLIZE</div>
                                <div class="user-message-counter">2</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="col-9 h-100" id="messagesSection"></section>
    </div>
</div>


@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        function showMessages(to) {
            var url = '@Url.Action("DisplayMessages", "Home")';
            $('#messagesSection').load(url, {to: to });
        };
    </script>
    <script src="~/js/chat.js"></script>
}