@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid m-0 p-0 vh-100">
    <div class="row no-gutters h-100">
        <section class="col-3 user-section h-100">
            <header class="users-section-header">
                <div>
                    <i class="fas fa-cog"></i>
                </div>
                <div class="text-dark user-section-logo">Messenger</div>
                <div>
                    <i class="fas fa-envelope-open"></i>
                </div>
            </header>
            <div class="search-form p-3">
                <input class="search-input" placeholder="Search for people..." type="search">
            </div>
            <div class="users-content">
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>
                            <div class="user-message">Dima: Privet, Zaebal</div>
                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>
                <div class="user-element">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="user-image-holder">
                                <img alt="" src="https://via.placeholder.com/320x320">
                            </div>
                        </div>
                        <div class="col-9 user-element-content">
                            <div class="user-name">Dima Senko</div>

                            <div class="user-message">Dima: Privet, Zaebal</div>

                            <div class="user-message-counter">2</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <section class="col-9 h-100">
            <header class="dialog-header w-100">
                <div>Dima Senko</div>
                <div class="status-header">Online</div>
            </header>
            <div class="row no-gutters dialog-content">
                <section class="col-8">
                    <div class="dialog-messages">
                        <div class="messages my-message">
                            <div class="my-message-text">Hello</div>
                        </div>
                        <div class="messages">
                            <div>
                                <div class="companion-message">Hi debil</div>
                            </div>
                            <div>
                                <div class="companion-message">Hi debil</div>
                            </div>
                            <div>
                                <div class="companion-message">Hi debil</div>
                            </div>
                        </div>
                        <div class="messages my-message">
                            <div class="my-message-text">Hi debil</div>
                        </div>
                        <div class="messages">
                            <div class="companion-message">Hi debil</div>
                            <div class="companion-message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Alias assumenda blanditiis cum ducimus earum eum eveniet
                            </div>
                            <div class="companion-message">Как дела?</div>
                        </div>
                        <div class="messages my-message">
                            <div class="my-message-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Corporis distinctio dolore provident quas, qui saepe sapiente vel voluptatem? Ad
                                asperiores dolor in mollitia quaerat quo vel. Cumque magnam placeat quibusdam!
                            </div>
                            <div class="my-message-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Corporis distinctio dolore provident quas, qui saepe sapiente vel voluptatem? Ad
                                asperiores dolor in mollitia quaerat quo vel. Cumque magnam placeat quibusdam!
                            </div>
                            <div class="my-message-text">Norm</div>
                        </div>
                    </div>
                    <footer class="messages-footer">
                        <input class="message-input" placeholder="Type a message" type="text">
                    </footer>
                </section>
                <!--                Do not touch-->


                <aside class="col-4 user-info">
                    <header class="user-info-header w-100">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="user-image-holder">
                                    <img alt="" src="https://via.placeholder.com/320x320">
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="user-name-info">Dima Senko</div>
                                <div class="user-status-info">Online</div>
                            </div>
                        </div>
                    </header>
                    <section class="user-info-content">
                        <input type="checkbox" value="mute" name="mute" id="mute">
                        <label class="mb-0" for="mute">Mute Notifications</label>
                    </section>

                </aside>
            </div>
        </section>
    </div>
</div>

@*@section Scripts {
    <script type="text/javascript">
        function renderPartial(elem, date, id) {
            var url = '@Url.Action("DisplaySchedule", "Home")';
            if (!$(elem).hasClass('bg-warning')) {
                $('.tab').not(elem).removeClass('bg-warning');
                $(elem).toggleClass('bg-warning');
            }
            $('#schedule').load(url, { date: date, filmId: id });
        }

        renderPartial(document.getElementsByClassName("tab")[0], $('#firstValue').val(), @Model.Id);
    </script>
}*@